
    
          <p style="font-size:xxx-large; text-align: center;">
            <i class="fa-solid fa-circle-exclamation"></i>Notifications
          </p>
          <div style="text-align:center; font-weight:bolder; font-size:large">Bostons invited you to a scrimmage<br>
          Date: 02/20/2022 Time: 13:00-18:00<br>
        <div style="display:flex; justify-content:center; gap:3em"><p>Accept</p><p>Deny</p></div>
