html,body {
  overflow-x:hidden;
  height: 100%;
  width: 100%;
}

body{
  font-family: "Raleway", sans-serif;
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
}

.white {
  background: white;
}
.pl-input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: none;
  margin-top: 5px;
  font-size: large;
}
.email-input{
  margin-top: 40px;
}

.name {
  font-size: x-large;
}
.title{
  margin-top: 30px;
  font-size: xx-large;
  font-weight:bolder;
}
.slideshow {
  height: 980px;
  width: 100%;
  -webkit-box-shadow: 1px 1px 10px black;
          box-shadow: 1px 1px 10px black;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.8))), url(/images/football-picture.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8)), url(/images/football-picture.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
}

.slideshow2 {
  /* height: 980px;
  width: 100%; */
  -webkit-box-shadow: 1px 1px 10px black;
          box-shadow: 1px 1px 10px black;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.8))), url(/images/football-picture.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8)), url(/images/euro-wall.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
}

.left-text-display {
  padding: 250px 75px;
  color: white;
}

.left-text-display p {
  border: 3px solid white;
  background: rgba(255, 255, 255, 0.6);
  max-width: 17%;
  height: 40px;
  line-height: 2.5;
  text-align: center;
  opacity: 0.7;
  color: black;
}

.left-text-display p:hover {
  text-decoration: none;
  background: rgba(255, 255, 255, 0.9);
}

.jumbo-text {
  font-size: 400%;
  font-weight: bold;
}

.large-text {
  line-height: 4;
  font-size: 250%;
  font-weight: bold;
}

.large-text2 {
  line-height: 2;
  font-size: 200%;
  font-weight: bold;
}

.view-btn {
  color: black;
  font-weight: 900;
  opacity: 1;
}
.submit-btn-text{
  color: white;
}
.no-account{
  margin-top: 40px;
}
.no-account-text{
  margin-top: 20px;
  font-size: large;
}
.about-section-container {
  text-align: center;
}
#sign-up{
  font-size:xx-large;
  font-weight: 900;
  color: #EB6E34;
}
.forgot-password a{
  text-decoration: none;
  font-size: large;
  font-weight: bold;
}
.about-section-container h3 {
  padding-top: 75px;
  font-size: x-large;
}

.about-section-container p {
  font-size: large;
}

.about-section-container .feature-container {
  width: 100%;
  padding-top: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.about-section-container .feature-container .feature {
  width: 15%;
  padding-bottom: 75px;
}

html {
  scroll-behavior:smooth ;
}

.about-section-container .feature-container .feature2 {
  width: 40%;
  padding-bottom: 75px;
}

.feature2 p {
  font-size: 150%;
}

.meet-the-team {
  -webkit-box-shadow: 1px 1px 10px grey;
          box-shadow: 1px 1px 10px grey;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.1)));
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
}

.meet-the-team p {
  text-align: center;
  font-size: 200%;
  padding-top: 50px;
}

.meet-the-team .meet-the-team-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-bottom: 50px;
  width: 80%;
  margin: 0 auto;
}

.meet-the-team .meet-the-team-container .member-card {
  -webkit-box-shadow: 1px 1px 5px grey;
          box-shadow: 1px 1px 5px grey;
  width: 350px;
}

.meet-the-team .meet-the-team-container .member-card .member-info {
  padding: 10px 10px;
  background: white;
  text-align: center;
}
/*# sourceMappingURL=index.css.map */

#menu-svg{
  display: none;
}

.header-icon{
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0.5rem;
  padding: 0.5rem;
  width: 3rem;
  height: 2rem;
  position: relative;
  box-sizing: inherit;
}

.slideshow p a{
  white-space: wrap;
}

.slideshow p{
  max-width: fit-content;
}