.navbar {
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 2px 2px;
    -webkit-box-shadow: 1px 1px 10px grey;
    box-shadow: 1px 1px 10px grey;
    position: -webkit-sticky;
    position: sticky;
    background: -webkit-gradient(linear, left top, right top, from(#dad9e7), color-stop(100%, white), to(white));
    background: linear-gradient(90deg, #dad9e7 0%, white 100%, white 100%);
    top: 0;
    z-index: 2;
}

.navbar a, .navbar a:hover {
    text-decoration: none;
    color: black;
}

.navbar-logo {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-center-left {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.navlink {
  line-height: 3.7;
  width: 20%;
  text-align: center;
}

.navlink:hover {
  background: rgba(0, 0, 0, 0.1);
}

.nav-right {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-right .sign-in {
  padding-left: 10px;
  font-size: large;
  line-height: 3.5;
  font-weight: bold;
}

.nav-right ul{
  list-style: none;
  display: flex;
  align-items: baseline;
  padding: 0;
  margin-top: 0;
  flex-grow: 1;
  justify-content: space-around;
}

.nav-right ul a{font-size: 20px;}

.nav-right ul p{
  white-space: nowrap;
  padding:0;
  line-height: 0;
  margin-top:0;
  margin-bottom: 0;
}

.nav-right ul p strong{
  white-space: nowrap;
  padding:0;
  margin-top:0;
  line-height: 0;
  margin-bottom: 0;
}

.nav-right ul a{
  display:flex;
  flex-direction: column;
  gap: 0.4rem;
  align-items:center;
}

.nav-right button:hover a {
  color: #EB6E34 !important;
}

.nav-right li{
  line-height: 0;
  text-align: center;
  cursor: pointer;
}

.sign-in p{
  line-height: 0;
  padding: 0;
  border: none;
  white-space: nowrap;
}

.nav-item {
  font-size: 180%;
  font-weight: bold;
  padding-left: 10px;
}
.sign-in {
    line-height: 3;
    background-color: transparent;
    border:none; 
    cursor: pointer;
}
  
.sign-in a{
    display: flex;
}

.navbar #mobile-nav-open{
    display: none;
}  

@media screen and (max-width:950px) {
    .nav-center-left a{
      display: none;
    }
    .navbar{
      padding: 0 1.25rem;
    }
    .navbar #mobile-nav-open {
      display:block; 
      line-height: 0;
      padding:0;
      width: 2rem;
      border:none;
      flex-shrink: 0;
    }
    .navbar-logo img{
      margin-left: -0.4rem; 
    }
    #menu-svg{
      display: inline;
      height: auto;
      width:2rem;
    }
    .nav-right>a{
      white-space: nowrap;
    }
  }
  
@media screen and (max-width:440px) {
    .nav-logoname{
      display:none;
    }
    strong{
      font-size: medium;
    }
  } 
  
  .sidepanel {
    line-height: 3em;
    height:100%;
    width: 0; 
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.2s; /* 0.5 second transition effect to slide in the sidepanel */
  }
  .sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.0s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidepanel a:hover {
    color: gray;
  }
  
  
  /* Position and style the close button (top right corner) */
  .sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style the button that is used to open the sidepanel */
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }