

.full-size {
    width: 100% !important;
    height: 100% !important;
}

.full-height {
    height: 100% !important;
}

.full-width {
    width: 100% !important;
}

.center-items {
    @include display-flex;
    @include align-items(center);
    @include justify-content(center);
  }


.center-vertical {
    @include display-flex;
    @include flex-direction(column);
    @include align-items(center);
    @include justify-content(center);
}

.center-vertical-top {
    @include display-flex;
    @include flex-direction(column);
    @include align-items(center);
    @include justify-content(top);
}

.center-vertical-bottom {
    @include display-flex;
    @include flex-direction(column);
    @include align-items(center);
    @include justify-content(flex-end);
  }